@model List<ForumPost>
@{
    ViewData["TITLE"] = "Forum Page";
}

<div class="text-center">
    <h1 class="display-4 font-weight-bold">King of Horror</h1>
    <h2>Forum</h2>
</div>
<br />


<form method="post" class="container">
    <div class="row p-2">
        <strong><label for="Topic" class="control-label col-md-1">Topic</label></strong>
        <input name="Topic" class="form-control col-md-6" />
    </div>
    <div class="row p-2">
        <strong><label for="Name" class="control-label col-md-1">Name</label></strong>
        <input name="Name" class="form-control col-md-6" />
    </div>
    <div class="row p-2 ml-5">
        <button type="submit" class="form-control btm btn-danger col-3 ml-0 mr-3">Submit</button>
        <a asp-action="Forum" class="btn btn-secondary col-3 ml-3 mr-0">Reset</a>
    </div>
</form>
<br />
<br />

<h6><a class="nav-link" asp-area="" asp-controller="Home" asp-action="ForumPost">Add a Post</a></h6>
<br />

<div>
    <h2>Discussion Forum</h2>
    @foreach (ForumPost post in Model)
    {
        <p>
            <strong>Topic</strong><br />
            @post.Topic<br />
            <strong>Post</strong><br />
            @post.Comments<br />
            <strong>User Name</strong><br />
            @post.Name<br />
            <strong>Date</strong>
            @post.Date
        </p>

        @if (post.Replies.Count != 0)
        {
            <h3>Replies</h3>

            @foreach (Reply reply in post.Replies)
            {
                <p>
                    <strong class="m-3">Comment:</strong>
                    @reply.ReplyText<br />
                    <strong class="m-3">By:</strong>
                    @reply.Commenter.Name<br />
                    <strong class="m-3">Date:</strong>
                    @reply.Date<br />
                </p>
            }
        }
        <a asp-action="Reply" asp-route-postId="@post.PostID" class="btn btn-secondary col-3">Add Reply</a>

    }
    
</div>


